footer.footer
  .container.footer__container
    ul.social.list-reset(title="social networks")
      li.social__item
        a.social__link.social__link--fb(href="#" target="_blank" aria-label="facebook")
          svg(aria-hidden="true")
            use(xlink:href="img/sprite.svg#fb")
      li.social__item
        a.social__link.social__link--vk(href="#" target="_blank" aria-label="vk")
          svg(aria-hidden="true")
            use(xlink:href="img/sprite.svg#vk")
      li.social__item
        a.social__link.social__link--in(href="#" target="_blank" aria-label="instagram")
          svg(aria-hidden="true")
            use(xlink:href="img/sprite.svg#insta")
  .footer__bottom
    a.footer__bottom-link(href="https://www.instagram.com/_veter_n/" target="_blank" aria-label="project developer") 2022 ©
      span.color-red  Nazar Shypot
